<!DOCTYPE html>
<html lang="en">

<head th:include="~{/fragments/tailwind :: tailwindcss-head}">
    <title>MangaHub | Registrar Paginas</title>
</head>

<body>
    <div class="content">
        <h1>Registrar Paginas</h1>
        <form th:action="${#request.requestURI}" method="POST" th:object="${chaptersPages}" enctype="multipart/form-data">
            <label for="numberPage">Numero da Pagina: </label>
            <input type="text" th:field="*{page}">
            <br>
            <label for="imagePageFile">Pagina: </label>
            <input type="file" accept="image/*" name="imagePageFile" id="imagePageFile">
            <br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>