<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaHub | Atualizar Capitulos</title>
</head>
<body>
    <div class="content">
        <h1>Atualizar Capitulos</h1>
        <form th:action="${#request.requestURI}" method="POST" th:object="${chapter}">
            <label for="numeroCapitulo">Numero do capitulo</label>
            <input type="text" th:field="*{chapterNumber}">
            <br>
            <label for="tituloCapitulo">Titulo do capitulo</label>
            <input type="text" th:field="*{chapterTitle}">
            <br>
            <label for="dataLancamento">Data de Lançamento</label>
            <input type="datetime" th:field="*{releasedAt}">
            <br>
            <button type="submit">Atualizar Capitulo</button>
        </form>

        <form th:action="@{/capitulo/{capituloID}/deletar(capituloID=${chapter.id})}" method="POST">
            <button type="submit">Deletar</button>
        </form>
    </div>
</body>
</html>