<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaHub - Registro de Mangas</title>
</head>
<body>
    <div class="content">
        <h1>Atualizar Mangas</h1>
        <form th:action="@{/manga/atualizar/{id}(id=${manga.id})}" method="POST" th:object="${manga}" enctype="multipart/form-data">
            <label for="name">Nome</label>
            <input type="text" th:field="*{mangaName}">
            <label for="description">Descrição</label>
            <input type="text" th:field="*{mangaDescription}">
            <label for="path">Caminho</label>
            <input type="text" th:field="*{mangaPath}">
            <label for="age_group">Faixa Etaria</label>
            <input type="text" th:field="*{ageGroup}">
            <label for="age_group">Data de Lançamento</label>
            <input type="datetime" th:field="*{releasedAt}">
            <label for="imageCover">Capa: </label>
            <input type="file" accept="image/*" name="imageCover" id="imageCover">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>