<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaHub - Registro de Mangas</title>
</head>
<body>
    <div class="content">
        <form th:action="@{/manga/registrar}" method="POST" th:object="${manga}">
            <label for="name">Nome</label>
            <input type="text" th:field="*{mangaName}">
            <br>
            <label for="description">Descrição</label>
            <input type="text" th:field="*{mangaDescription}">
            <br>
            <label for="path">Caminho</label>
            <input type="text" th:field="*{mangaPath}">
            <br>
            <label for="age_group">Faixa Etaria</label>
            <input type="text" th:field="*{ageGroup}">
            <br>
            <label for="released_at">Data de Lançamento</label>
            <input type="datetime" th:field="*{releasedAt}">
            <br>
            <label for="cover">Capa</label>
            <input type="text" th:field="*{mangaCover}">
            <br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>