<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" class="h-full">

<head th:include="~{/fragments/tailwind :: common_header(title=${'MangaHub | 403'})}"></head>

<body class="bg-black/95 h-full">
    <div th:replace="~{/fragments/navbar :: common_header(current=${''})}"></div>

    <div class="flex place-content-center">
        <h5 class="mb-2 text-9xl font-bold tracking-tight text-gray-900 yellow-color ">403</h5>
        <hr class="rounded yellow-border">
    </div>
</body>

</html>