<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" class="h-full">

<head th:include="~{/fragments/tailwind :: tailwindcss-head}">
  <meta charset="UTF-8">
  <title>Pagina Inicial | MangaHub</title>
</head>

<body class="bg-[url('https://cache.desktopnexus.com/cropped-wallpapers/788/788777-2560x1080-[DesktopNexus.com].jpg?st=rlaLLNTfjociN_nBi7yY7g&e=1668362472')] h-full">
  <div th:replace="~{/fragments/navbar :: navbar}"></div>

  <section class="backdrop-opacity-95 bg-black/95 ">
    <div class="flex place-content-center">
      <div class="pl-12 pt-12 pr-12">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 yellow-color ">Atualizados Recentemente</h5>
        <hr class="rounded yellow-border">
      </div>
    </div>

    <div class="flex place-content-center">
      <div class="grid grid-cols-3 gap-12 pl-12 pr-12 pt-8">
        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>
        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card mb-12">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card mb-12">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

        <a href="#" class="flex flex-col items-center rounded-lg md:flex-row border-card mb-12">
          <img class="object-cover w-full h-96 p-1 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="https://m.media-amazon.com/images/I/71amUl0481L.jpg">
          <div class="flex flex-col justify-between p-4 mr-12 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Solo Leveling</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Capitulo 1</p>
            <p class="mb-3 font-normal py-2 px-3 inline-flex items-center yellow-button">
              Ler capitulo
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </p>
          </div>
        </a>

      </div>
    </div>


  </section>

</body>

</html>