<!DOCTYPE html>
<html lang="en">

<head th:include="~{/fragments/tailwind :: common_header(title=${'MangaHub - Testar Usuario'})}"></head>

<body class="bg-black/95 h-full">
    <div sec:authorize="isAuthenticated()">
        O usuario está logado
        <p sec:authorize="hasRole('ROLE_ADMIN')"> O usuario é um administrador </p>
        Email Logado: <span sec:authentication="principal.username">E-mail logado ...</span>
    </div>
    <div sec:authorize="!isAuthenticated()">
        O usuario não está logado
    </div>
</body>

</html>